
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPartical.cshtml";
}

<h2>Index</h2>

<div id="exampleSearchableTree" class="treeview">
    <ul class="list-group">
        <li class="list-group-item node-exampleSearchableTree" data-nodeid="0" style="color:undefined;background-color:undefined;"><span class="icon expand-icon wb-minus"></span><span class="icon node-icon wb-folder"></span>Parent 1</li>
        <li class="list-group-item node-exampleSearchableTree node-selected" data-nodeid="1" style="color:#ffffff;background-color:#3e8ef7;"><span class="indent"></span><span class="icon expand-icon wb-minus"></span><span class="icon node-icon wb-folder"></span>Child 1</li>
        <li class="list-group-item node-exampleSearchableTree" data-nodeid="2" style="color:undefined;background-color:undefined;"><span class="indent"></span><span class="indent"></span><span class="icon"></span><span class="icon node-icon wb-folder"></span>Grandchild 1</li>
        <li class="list-group-item node-exampleSearchableTree" data-nodeid="3" style="color:undefined;background-color:undefined;"><span class="indent"></span><span class="indent"></span><span class="icon"></span><span class="icon node-icon wb-folder"></span>Grandchild 2</li>
        <li class="list-group-item node-exampleSearchableTree" data-nodeid="4" style="color:undefined;background-color:undefined;"><span class="indent"></span><span class="icon"></span><span class="icon node-icon wb-folder"></span>Child 2</li>
        <li class="list-group-item node-exampleSearchableTree" data-nodeid="5" style="color:undefined;background-color:undefined;"><span class="icon"></span><span class="icon node-icon wb-folder"></span>Parent 2</li>
        <li class="list-group-item node-exampleSearchableTree" data-nodeid="6" style="color:undefined;background-color:undefined;"><span class="icon"></span><span class="icon node-icon wb-folder"></span>Parent 3</li>
        <li class="list-group-item node-exampleSearchableTree" data-nodeid="7" style="color:undefined;background-color:undefined;"><span class="icon"></span><span class="icon node-icon wb-folder"></span>Parent 4</li>
        <li class="list-group-item node-exampleSearchableTree" data-nodeid="8" style="color:undefined;background-color:undefined;">
            <span class="icon"></span><span class="icon node-icon wb-folder"></span>Parent 5
        </li>
    </ul>
</div>